<nav id="header" class="navbar">
  <div class="navbar-brand">
    <span class="navbar-item title"><%= link_to "Group Worker", root_path %></span>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <% if user_signed_in? %>
        <span class="navbar-item"><%= link_to 'プロフィール編集', edit_user_registration_path %></span>
        <span class="navbar-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></span>
      <% else %>
        <span class="navbar-item"><%= link_to "ログイン", new_user_session_path, class: 'post' %></span>
        <span class="navbar-item"><%= link_to "新規登録", new_user_registration_path, class: 'post' %></span>
      <% end %>
    </div>
  </div>
</nav>
